body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 0;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 { color: #2c3e50; }
p { color: #1a252f; }

.upload-section {
    margin: 2rem 0;
    padding: 2rem;
    border: 2px dashed #bdc3c7;
    border-radius: 8px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

button:hover { background-color: #2980b9; }

.hidden { display: none; }

#resultSection {
    margin-top: 20px;
    text-align: left;
    background: #eef2f3;
    padding: 15px;
    border-radius: 8px;
}

.watermark{
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #bdc3c7;
    font-size: 0.9rem;
    font-family: 'Courier New', Courier, monospace; 
    pointer-events: none;
    z-index: 1000;

}